<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Control Board</title>
    <link rel="stylesheet" href="css/mainBoard.css">
    <link rel="stylesheet" href="css/controls.css">

    <!--Jquery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>


    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <!--Material Design-->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/4.0.2/bootstrap-material-design.css">

</head>
<body>
<header>
</header>

<main class="controlMain">
    <div class="container">
        <div class="col-md-6">
            <section>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Player Notifications</h3>
                    </div>

                    <div class="panel-body">
                        <form class="form-horizontal">
                            <fieldset>
                                <div class="form-group">
                                    <label for="headerToMove" class="col-md-2 control-label">Header Text</label>

                                    <div class="col-md-6">
                                        <input type="text" class="form-control" id="headerToMove"
                                               class="textToMove" placeholder="Title Text">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="textToMove" class="col-md-2 control-label">Text Text</label>

                                    <div class="col-md-6">
                                        <input type="text" class="form-control" id="textToMove" placeholder="Main Body Text">
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                        <p class="btn btn-raised btn-primary btn-sm"  id="genericNotificationOn">Generic Notification On</p>

                        <p class="btn btn-raised btn-primary btn-sm" id="genericNotificationOff"> Generic Notification Off</p>
                    </div>
                    <div class="panel-footer">
                        <p class="btn btn-raised btn-primary btn-sm" onclick="NavNotificationOn()">Navigator Player Turn On</p>

                        <p class="btn btn-raised btn-primary btn-sm" onclick="NavNotificationOff()"> Navigator Player Off</p>
                    </div>

                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">Tile Animations</div>
                    <div class="panel-body">
                        <div class="waterContainer col-md-6">
                            <h4>Flooded Area</h4>

                            <div class="waterRow">
                                <div class="water"></div>
                                <div class="water"></div>
                                <div class="water filled-water" id="floodOneOne"></div>
                                <div class="water filled-water" id="floodOneTwo"></div>
                                <div class="water"></div>
                                <div class="water"></div>
                            </div>
                            <div class="waterRow">
                                <div class="water"></div>
                                <div class="water filled-water" id="floodTwoOne"></div>
                                <div class="water filled-water" id="floodTwoTwo"></div>
                                <div class="water filled-water" id="floodTwoThree"></div>
                                <div class="water filled-water" id="floodTwoFour"></div>
                                <div class="water"></div>
                            </div>
                            <div class="waterRow">
                                <div class="water filled-water" id="floodThreeOne"></div>
                                <div class="water filled-water" id="floodThreeTwo"></div>
                                <div class="water filled-water" id="floodThreeThree"></div>
                                <div class="water filled-water" id="floodThreeFour"></div>
                                <div class="water filled-water" id="floodThreeFive"></div>
                                <div class="water filled-water" id="floodThreeSix"></div>
                            </div>
                            <div class="waterRow">
                                <div class="water filled-water" id="floodFourOne"></div>
                                <div class="water filled-water" id="floodFourTwo"></div>
                                <div class="water filled-water" id="floodFourThree"></div>
                                <div class="water filled-water" id="floodFourFour"></div>
                                <div class="water filled-water" id="floodFourFive"></div>
                                <div class="water filled-water" id="floodFourSix"></div>
                            </div>
                            <div class="waterRow">
                                <div class="water"></div>
                                <div class="water filled-water" id="floodFiveOne"></div>
                                <div class="water filled-water" id="floodFiveTwo"></div>
                                <div class="water filled-water" id="floodFiveThree"></div>
                                <div class="water filled-water" id="floodFiveFour"></div>
                                <div class="water"></div>
                            </div>
                            <div class="waterRow">
                                <div class="water"></div>
                                <div class="water"></div>
                                <div class="water filled-water" id="floodSixOne"></div>
                                <div class="water filled-water" id="floodSixTwo"></div>
                                <div class="water"></div>
                                <div class="water"></div>
                            </div>
                        </div>


                        <div class="pulseContainer col-md-6">
                            <h4>Land Pulses</h4>

                            <div class="pulseRow">
                                <div class="pulse"></div>
                                <div class="pulse"></div>
                                <div class="pulse filled-pulse p11" id="pulseOneOne"></div>
                                <div class="pulse filled-pulse p12" id="pulseOneTwo"></div>
                                <div class="pulse"></div>
                                <div class="pulse"></div>
                            </div>
                            <div class="pulseRow">
                                <div class="pulse"></div>
                                <div class="pulse filled-pulse p21" id="pulseTwoOne"></div>
                                <div class="pulse filled-pulse p22" id="pulseTwoTwo"></div>
                                <div class="pulse filled-pulse p23" id="pulseTwoThree"></div>
                                <div class="pulse filled-pulse p24" id="pulseTwoFour"></div>
                                <div class="pulse"></div>
                            </div>
                            <div class="pulseRow">
                                <div class="pulse filled-pulse p31" id="pulseThreeOne"></div>
                                <div class="pulse filled-pulse p32" id="pulseThreeTwo"></div>
                                <div class="pulse filled-pulse p33" id="pulseThreeThree"></div>
                                <div class="water filled-pulse p34" id="pulseThreeFour"></div>
                                <div class="pulse filled-pulse p35" id="pulseThreeFive"></div>
                                <div class="pulse filled-pulse p36" id="pulseThreeSix"></div>
                            </div>
                            <div class="pulseRow">
                                <div class="pulse filled-pulse p41" id="pulseFourOne"></div>
                                <div class="pulse filled-pulse p42" id="pulseFourTwo"></div>
                                <div class="pulse filled-pulse p43" id="pulseFourThree"></div>
                                <div class="pulse filled-pulse p44" id="pulseFourFour"></div>
                                <div class="pulse filled-pulse p45" id="pulseFourFive"></div>
                                <div class="pulse filled-pulse p46" id="pulseFourSix"></div>
                            </div>
                            <div class="pulseRow">
                                <div class="pulse"></div>
                                <div class="pulse filled-pulse p51" id="pulseFiveOne"></div>
                                <div class="pulse filled-pulse p52" id="pulseFiveTwo"></div>
                                <div class="pulse filled-pulse p53" id="pulseFiveThree"></div>
                                <div class="pulse filled-pulse p54" id="pulseFiveFour"></div>
                                <div class="pulse"></div>
                            </div>
                            <div class="pulseRow">
                                <div class="pulse"></div>
                                <div class="pulse"></div>
                                <div class="pulse filled-pulse p61" id="pulseSixOne"></div>
                                <div class="pulse filled-pulse p62" id="pulseSixTwo"></div>
                                <div class="pulse"></div>
                                <div class="pulse"></div>
                            </div>
                        </div>
                        <p class="btn btn-raised btn-default btn-sm"  id="startPulsing">Start Pulsing</p>

                        <p class="btn btn-raised btn-default btn-sm" id = "stopPulsing">Clear Pulses</p>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">Other Animations -
                        <p class="btn btn-raised btn-primary btn-sm" id ="moveHelecopter">Move Helecopter</p>
                    </div>
                    <div class="panel-body">
                        <p class="btn btn-raised btn-info btn-sm" id ="highlightBlue">Flood Deck</p>
                        <p class="btn btn-raised btn-danger btn-sm" id ="highlightRed">Treasure Deck</p></br>
                        <p class="btn btn-raised btn-success btn-sm" id ="stoneIslandButton">Stone</p>
                        <p class="btn btn-raised btn-info btn-sm" id ="floodIslandButton">Water</p>
                        <p class="btn btn-raised btn-danger btn-sm" id ="fireIslandButton">Fire</p>
                        <p class="btn btn-raised btn-warning btn-sm" id ="lionIslandButton">Earth</p></br>
                        <p class="btn btn-raised btn-default btn-sm" id ="highlightPlayerThree">P1</p>
                        <p class="btn btn-raised btn-default btn-sm" id ="highlightPlayerTwo">P2</p>
                        <p class="btn btn-raised btn-default btn-sm" id ="highlightPlayerOne">P3</p>
                    </div>
                </div>

            </section>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Game Board</div>
                <div class="panel-body gameBoard">
                    <section class="board controlBoard rain">

                        <div class="boardBackground"></div>

                        <!--Pulse Squares-->
                        <div class="pulseSquare oneOne"></div>
                        <div class="pulseSquare oneTwo"></div>
                        <div class="pulseSquare twoOne"></div>
                        <div class="pulseSquare twoTwo"></div>
                        <div class="pulseSquare twoThree"></div>
                        <div class="pulseSquare twoFour"></div>
                        <div class="pulseSquare threeOne"></div>
                        <div class="pulseSquare threeTwo"></div>
                        <div class="pulseSquare threeThree"></div>
                        <div class="pulseSquare threeFour"></div>
                        <div class="pulseSquare threeFive"></div>
                        <div class="pulseSquare threeSix"></div>
                        <div class="pulseSquare fourOne"></div>
                        <div class="pulseSquare fourTwo"></div>
                        <div class="pulseSquare fourThree"></div>
                        <div class="pulseSquare fourFour"></div>
                        <div class="pulseSquare fourFive"></div>
                        <div class="pulseSquare fourSix"></div>
                        <div class="pulseSquare fiveOne"></div>
                        <div class="pulseSquare fiveTwo"></div>
                        <div class="pulseSquare fiveThree"></div>
                        <div class="pulseSquare fiveFour"></div>
                        <div class="pulseSquare sixOne"></div>
                        <div class="pulseSquare sixTwo"></div>
                        <!--Pulse Squares-->

                        <!--Board Squares-->
                        <div class="square oneOne oneOne-square"></div>
                        <div class="square oneTwo oneTwo-square"></div>
                        <div class="square twoOne twoOne-square"></div>
                        <div class="square twoTwo twoTwo-square"></div>
                        <div class="square twoThree twoThree-square"></div>
                        <div class="square twoFour twoFour-square"></div>
                        <div class="square threeOne threeOne-square"></div>
                        <div class="square threeTwo threeTwo-square"></div>
                        <div class="square threeThree threeThree-square"></div>
                        <div class="square threeFour threeFour-square"></div>
                        <div class="square threeFive threeFive-square"></div>
                        <div class="square threeSix threeSix-square"></div>
                        <div class="square fourOne fourOne-square"></div>
                        <div class="square fourTwo fourTwo-square"></div>
                        <div class="square fourThree fourThree-square"></div>
                        <div class="square fourFour fourFour-square"></div>
                        <div class="square fourFive fourFive-square"></div>
                        <div class="square fourSix fourSix-square"></div>
                        <div class="square fiveOne fiveOne-square"></div>
                        <div class="square fiveTwo fiveTwo-square"></div>
                        <div class="square fiveThree fiveThree-square"></div>
                        <div class="square fiveFour fiveFour-square"></div>
                        <div class="square sixOne sixOne-square"></div>
                        <div class="square sixTwo sixTwo-square"></div>
                        <!--End of Board Squares-->


                        <div class="treasure stoneIsland"></div>
                        <div class="treasure lionIsland"></div>
                        <div class="treasure floodIsland"></div>
                        <div class="treasure fireIsland"></div>

                        <div class="player player1"></div>
                        <div class="player player2"></div>
                        <div class="player player3"></div>

                        <div class="deck floodDeck"></div>
                        <div class="deck treasureDeck"></div>

                        <div class="lighthouse"></div>
                        <div class="helecopter"></div>

                        <div class="genericNotification notification">
                            <h1 class="genericNoteTitle">Welcome to Forbidden Island</h1>

                            <p class="genericNoteText">Can you escape...do you dare!?</p>
                        </div>

                        <div class="playerTurn notification">
                            <h1 class="noteTitle">Time for the Navigator</h1>

                            <p class="noteText">You can move another player up to 2 adjacent tiles for 1 action</p>
                        </div>

                        <div class="playerImage"></div>

                        <div class="lightning"></div>
                    </section>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Weather Effects</h3>
                </div>
                <div class="panel-body">
                    <p class="btn btn-raised btn-primary btn-sm" id="lightRain">Light Rain</p>
                    <p class="btn btn-raised btn-info btn-sm" id="mediumRain">Medium Rain</p>
                    <p class="btn btn-raised btn-warning btn-sm"  id="heavyRain">Heavy Rain</p>
                    <p class="btn btn-raised btn-danger btn-sm"  id="torrentialRain">Torrential Rain</p></br>
                    <p class="btn btn-raised btn-default btn-sm" id = "stopRain">Stop Rain</p>
                    <p class="btn btn-raised btn-default btn-sm" id="generateLightning">Generate Lightning</p>
                </div>
            </div>

        </div>
    </div>
</main>
</body>
</html>

<script src="/scripts/forbiddenIsland.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/scripts/forbiddenIsland.sockets.js"></script>